# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Directorios de producción build (si llegás a generar)
dist/
build/

# Archivos de entorno
.env
.env.local
.env.*.local

# Logs
logs/
*.log

# OS y editores
.DS_Store
Thumbs.db

# VS Code
.vscode/
